@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$font-family : "Open Sans", sans-serif;

$color-black: #000000;       
$color-black-transparent: #00000080; 
$color-gray: #666666;        
$color-orange: #FB953E;  
$color-text-main: #333333;
$border-color-header: #C7C7C7;


$font-size-large: 32px;  
$font-size-medium: 24px; 
$font-size-small-medium: 22px; 
$font-size-base: 16px;    
$font-size-small: 14px;  
$font-size-small2: 12px; 


$font-weigh-padrao: 400;


$max-width-xl: 1550px; 
$max-width-md: 767px
